<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Курсы валют</title>
</head>
<body>

<h1>Курсы валют</h1>

<ul>
{% for item in navigation %}
    <li><a href="{{item.href}}">{{item.caption}}</a></li>
{% endfor %}
</ul>

<table border="1" cellpadding="6">
    <tr>
        <th>Код</th>
        <th>Название</th>
        <th>Курс</th>
    </tr>

    {% for c in currencies %}
    <tr>
        <td>{{ c.char_code }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.value }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
